# Dipendenze Node.js
/node_modules

# Output delle build
/dist

# File di log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directory di configurazione degli editor di testo
.idea/
.vscode/

# File di sistema
.DS_Store
Thumbs.db